<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Atom Packages Directory</title>
    <link rel="stylesheet" href="/octicons/octicons.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <%= stylesheet_tag 'application' %>
    <script src="<%= javascript_path 'application' %>"></script>

  </head>
  <body>
    <header>
      <h1><a href="/"><span class="octicon octicon-package"></span>Atom Packages Directory</a></h1>
      <span class="subheader">a package directory for a text editor of the 21st Century</span>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <footer>
      Made with <span class="octicon octicon-heart"></span> by <a href="http://bastilian.me">@bastilian</a>
    </footer>
    <div style="opacity:.15;position:relative;z-index:-1;">
      <div class="system"></div>
      <div class="system-2"></div>
    </div>
  </body>
</html>
