@import 'compass';
@import 'compass/reset';

$content-width: 70%;

$header-background: #2E3446;
$text-color: #66595c;
$bright-text-color: #efeae1;

body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, sans-serif;
  color: $text-color;
}

a,
a:visited,
a:hover,
a:active,
a:link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  display: block;
}

p {
  margin: 0 0 1.5em;
}

header {
  color: $header-background;
  line-height: 3em;
  padding: 1em 0 0;
  vertical-align: middle;

  a:hover {
    text-decoration: none;
  }

  h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 auto;
    padding-left: 3em;
    position: relative;
    width: $content-width;
  }

  .octicon {
    color: $header-background;
    font-size: 2.5em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

section#content {
  margin: 0 auto;
  padding: 2em 0 0;
  width: $content-width;

  img {
    max-width: 100%;
  }
}


footer {
  margin: 1em 0;
  text-align: center;
}

.system,
.system-2 {
  @include animation(spin 50s ease-in infinite);
  background: 50% 50% image-url('system.png') no-repeat;
  height: 512px;
  left: 0;
  margin-left: -256px;
  margin-top: -256px;
  position: fixed;
  top: 0;
  width: 512px;
  z-index: -1;
}

.system-2 {
  @include animation(spin-reverse 50s ease-in infinite);
}

@include keyframes(spin) {
  100% {
    @include transform(rotate(360deg));
  }
};

@include keyframes(reverse-spin) {
  100% {
    @include transform(rotate(360deg));
  }
};

@import 'package-list';
