@import 'octicons';
@import 'devicons';
@import 'compass';
// @import 'compass/reset';

$content-width: 70%;

$header-background: #2E3446;
$text-color: #66595c;
$bright-text-color: #efeae1;

body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, sans-serif;
  color: $text-color;
}

a,
a:visited,
a:hover,
a:active,
a:link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  color: $header-background;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
}

p {
  margin: 0 0 1.5em;
}

small {
  font-size: .8em;
}

header {
  color: $header-background;
  line-height: 3em;
  padding: 2.5em 0 1em;
  width: $content-width;
  max-width: 960px;
  margin: 0 auto 2.5em;

  a:hover {
    text-decoration: none;
  }

  h1 {
    position: relative;
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 3.5em;
  }

  .subheader {
    position: absolute;
    display: block;
    width: $content-width;
    padding-left: 4.5em;
    top: 5.5em;
    font-size: .9em;
    opacity: .6;
    line-height: 1em;
  }

  .octicon {
    color: $header-background;
    font-size: 3.1em;
    position: absolute;
    left: 0;
    top: 0;
  }
}

section#content {
  margin: 0 auto;
  width: $content-width;
  max-width: 960px;

  header {
    margin: 0;
  }

  img {
    max-width: 100%;
  }
}

footer {
  margin: 3em 0 4em;
  text-align: center;
}

.system,
.system-2 {
  @include animation(spin 50s ease-in infinite);
  background: 50% 50% image-url('system.png') no-repeat;
  height: 512px;
  left: 0;
  margin-left: -256px;
  margin-top: -256px;
  position: fixed;
  top: 0;
  width: 512px;
  z-index: -1;
}

.system-2 {
  @include animation(spin-reverse 50s ease-in infinite);
}

@include keyframes(spin) {
  100% {
    @include transform(rotate(360deg));
  }
};

@include keyframes(reverse-spin) {
  100% {
    @include transform(rotate(360deg));
  }
};

@import 'package-list';
@import 'category';
@import 'package';
