@import 'compass';
@import 'compass/reset';

$content-width: 70%;

$header-background: #2E3446;
$text-color: #66595c;
$bright-text-color: #efeae1;

body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, sans-serif;
  color: $text-color;
}

a,
a:visited,
a:hover,
a:active,
a:link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  display: block;
}

p {
  margin: 0 0 1.5em;
}

header {
  background: $header-background;
  color: $bright-text-color;
  padding: 1em 0 0;

  a:hover {
    text-decoration: none;
  }

  h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 auto;
    width: $content-width;
  }

  .octicon {
    background: $bright-text-color;
    border-radius: 50%;
    color: $header-background;
    font-size: 2.5em;
    margin: 0 .3em -.2em 0;
    padding: .4em;
  }
}

section#content {
  margin: 0 auto;
  padding: 2em 0 0;
  width: $content-width;

  img {
    max-width: 100%;
  }
}


footer {
  margin: 1em 0;
  text-align: center;
}
